.home {
    display: grid;
    grid-template-columns: repeat(5, 1fr);

    max-width: 120rem;
    margin-bottom: 5rem;
}

.cards {
    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;
    padding: 1.7rem;
}

@media screen and (max-width: 768px) {
    .home {
        grid-template-columns: repeat(2, 1fr);
        padding: 0 1rem;
    }

    .cards {
        padding: 0;
        
    }
}

