.container {
    text-align: center;
    padding: 1rem 1rem;
}

.movieDetail {
    font-family: 'Exo 2', sans-serif;
    padding: 0 5rem;
    font-size: 1.3rem;
    padding-bottom: 6rem;

    display: flex;


    .principal {
        display: flex;

        margin-top: 3rem;
    }

    img {
        border-radius: 8px;
        width: 25rem;
    }

    

    span {
        font-family: 'Exo 2', sans-serif;
        font-weight: 600;
        padding-right: 0.5rem;
        color: #ff0000;
    }

    .rightSide {
        width: 100%;
        margin-top: 3rem;
        text-align: left;
        margin-left: 2rem;

        display: flex;
        flex-direction: column;

        div {
            font-family: Roboto, sans-serif;
            margin: 1.5rem 0;
    }
    }
}

.buttonGoBack {
    background-color: var(--white);
    border: none;
    outline: none;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    width: 40vw;
    transition: outline 0.3s ease;
    transition: 0.4s ease;
    font-family: 'Exo 2', sans-serif;

    font-size: 1.3rem;
    color: var(--gray-900);
    font-weight: 700;
    margin-top: 5rem;

    &:hover {
        background-color: var(--gray-900);
        box-shadow: 0 8px 12px #000000;
        outline: 1px solid var(--white);
        color: var(--white);

        cursor: pointer;           
    }  
}

.buttonDiv {
    text-align: center;
}

@media screen and (max-width: 768px) {
    .movieDetail {
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .principal{
            margin: 1rem;

            img {
                width: 14rem;
                height: 20rem; 
            }
        }
        
        .rightSide {
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
        }

        .info {
            text-align: center;
            
            span {
                margin: 0.75rem 0;
            }

            div {
                display: flex;
                flex-direction: column;
            }
        }

    }
    
    .buttonGoBack {
        margin-top: 1rem;
        width: 60vw;
    }
}